<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Checkr</title>
</head>
<body>
	<section class="background-img">
		<div class="background-color">
			<div class="main-header">
				<header>
					<div class="first-navbar">
						<ul>
							<li>I Am an Applicant</li>
							<li>API & Docs</li>
							<li>About Us</li>
							<li>Careers</li>
						</ul>
					</div>
					<div class="second-navbar">
						<%= image_tag('checkr_logo', class: "checkr-logo")%>
						<div class="nav-left">
							<div class="dropdown">
								<ul>
									<li></li>
									<div class="dropdown-content">
										<li>Overview</li>
										<li>Screenings</li>
										<li>Compliance</li>
										<li>Security</li>
									</div>
									<li>INDUSTRIES</li>
									<li>RESOURCES</li>
								</ul>
							</div>
						</div>
						<div class="nav-right">
							<button>LOG IN</button>
							<button>GET STARTED -> </button>
						</div>
					</div>
				</header>
				<div class="video">
					<video id="demo-vid_html5_api" class="vjs-tech" autoplay="" loop="" preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" data-setup="{}">
						<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
							<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
								<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634">
							</video>
						</div>
					</div>
				</div>
			</section>
		</body>
		</html>